*.cpp linguist-language=Kotlin
*.c linguist-language=Kotlin
*.coffee linguist-language=Kotlin
*.cs linguist-language=Kotlin
*.css linguist-language=Kotlin
*.html linguist-language=Kotlin
*.js linguist-language=Kotlin
*.h linguist-language=Kotlin
*.m linguist-language=Kotlin
*.rb linguist-language=Kotlin
*.sh linguist-language=Kotlin